<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="application.yml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%d{yyyy-MM-dd'T'HH:mm:ss.SSS}] [%-5p] [request_id=%-15X{requestId:--}] [thread=%-15.15t] [class=%-60.60c{59}] [traceId=%-16X{X-B3-TraceId:--}] [spanId=%-16X{X-B3-SpanId:--}] [originating_bi_id=%-36X{originating-bi-id:--}] [business_identifiers=%-36X{businessIdentifiers:--}] [method=%-30.30M] [error_code=%-16X{errorCode:--}] [log_type=%-3X{logType:--}] - %m%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="Hibernate Types" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
